<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polyfast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/polifast"
        android:label="@string/app_name"
        android:roundIcon="@drawable/polifast"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".forumManager.FullImageView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_image_view"
            android:theme="@style/FullscreenTheme"></activity>
        <activity android:name=".forumManager.AskQuestion" />
        <activity android:name=".forumManager.QuestionDetail" />
        <activity android:name=".Activities.DownloadedFile" />
        <activity
            android:name=".Activities.PlateForm"
            android:label="@string/title_activity_plate_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Reset_Password" />
        <activity android:name=".Activities.Sing_in_sind_up" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>